
// 
// @TODO: Add docs to mixin-name!
//
@mixin btn($color) {
  	padding: 10px;
  	background-color: $color;
  	border: 1px solid $color;
}

/*ボタンリセット*/
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}