.blog_space {
  padding: 5%;

  .initial {
    font-size: 2.1em;
    border-left: solid 3px $light-pink;
    border-right: solid 3px $light-pink;
    border-top: solid 3px $light-pink;
    color: $light-pink;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: solid 3px $light-pink;
    width: 18%;
    text-align: right;
    margin-bottom: 5%;
    line-height: 40px;
    color: $orange;
  }

  @media screen and (max-width: 768px){
    h2 {
      font-size: 1.5em;
      width: 35%;
      line-height: 150%;
    }
  }
}
    .blog_contents {
      height: 100%;
      border-style: solid;
      border-color: $light-pink;
      border-width: 3px;
      padding: 2.5%;
        h3 {
          text-align: left;
          color: orange;
          padding-left: 5%;
          border: solid 3px $orange;
          font-weight: bolder;
        }

      }
  