.ours_policy_space {
  font-size: 30px;
  color: $orange;
  padding: 3%;

  span {
    color: $light-pink;
    font-size: 50px;
  }

  h2 {
    border-bottom: solid 3px $light-pink;
    width: 20%;
    text-align: right;
    margin-bottom: 5%;
  }

    .ours_policy_contents {
      border-style: solid;
      border-color: $light-pink;
      border-width: 3px;
      padding: 2.5%;
     

      }
  }