@import "variables";

/*=========================
　　　　全体共通部分
=========================*/
body{
	font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
	text-decoration: none;
	background-color: #FAF7F0;
}

html{
	color: #545454;
	list-style: none;
	text-decoration: none;
}

a:link{
	text-decoration: none;
}

section{
	padding: 3% 0% 6% 0%;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.clearfix{
	clear: both;
}

.strong_yellow_text{
	background-color: rgba(yellow,0.7);
}

/*gridのgutter調整*/
.row-0{
    margin-left:0px;
    margin-right:0px;
 
    > div{
        padding-right:0px;
        padding-left:0px;
    }
}

.row-10{
    margin-left:-5px;
    margin-right:-5px;
 
    > div{
        padding-right:5px;
        padding-left:5px;
    }
}


@media screen and (max-width: 768px) {
body{
	padding: 13% 0%;
}

	html{
		font-size: 13px;
	}
.PageCommonSetting{
	padding: 10% 0%;
	background-color: #FAF7F0;
}
.page_common_headeing_area{
	border: 8px solid #fff;
	background-color: #fff;
	padding: 0px;
}
		.page_common_headeing{
			text-align: center;
			font-size: 1.6rem;
			padding-bottom: 0px;
			color: $orange;
		}

		.page_common_small{
			font-size: 0.8rem;
			line-height: 1.6rem;
			text-align: center;
			/*padding-bottom: 20px;*/
			/*border-bottom: 1px dotted #e4e4e4;*/
		}

.triangle{
	margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-bottom: 0px;
}
}

@media screen and (min-width: 769px) and (max-width: 991px) {
	html{
		font-size: 15px;
	}
.PageCommonSetting{
	padding: 0% 0%;
	background-color: #FAF7F0;
}

.page_common_headeing_area{
	border: 8px solid #fff;
	background-color: #fff;
	padding: 15px;
}
		.page_common_headeing{
			text-align: center;
			font-size: 1.6rem;
			padding-bottom: 0px;
			color: $orange;
		}

		.page_common_small{
			font-size: 0.8rem;
			line-height: 1.6rem;
			text-align: center;
			/*padding-bottom: 20px;*/
			/*border-bottom: 1px dotted #e4e4e4;*/
		}

.triangle{
	margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	html{
		font-size: 16px;
	}

.PageCommonSetting{
	padding: 4% 0%;
	background-color: #FAF7F0;
}
.page_common_headeing_area{
	border: 8px solid #fff;
	background-color: #fff;
	padding: 15px;
}
		.page_common_headeing{
			text-align: center;
			font-size: 1.6rem;
			padding-bottom: 0px;
			color: $orange;
		}

		.page_common_small{
			font-size: 0.8rem;
			line-height: 1.6rem;
			text-align: center;
			/*padding-bottom: 20px;*/
			/*border-bottom: 1px dotted #e4e4e4;*/
		}

.triangle{
	margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}
}

@media screen and (min-width: 1200px) {
	html{
		font-size: 16px;
	}

.PageCommonSetting{
	padding: 3% 0%;
	background-color: #FAF7F0;
}
.page_common_headeing_area{
	border: 8px solid #fff;
	background-color: #fff;
	padding: 15px;
}
		.page_common_headeing{
			text-align: center;
			font-size: 1.6rem;
			padding-bottom: 0px;
			color: $orange;
		}

		.page_common_small{
			font-size: 0.8rem;
			line-height: 1.6rem;
			text-align: center;
			/*padding-bottom: 20px;*/
			/*border-bottom: 1px dotted #e4e4e4;*/
		}

.triangle{
	margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}
}
