.blog_article_title{

	h1{
		line-height: 1.6;
	}
}


/*=========================
　　　　　XS部分
=========================*/
@media screen and (max-width: 768px) {
.blog_article_area{
	background: #fff;
	border-radius: 10px;
	padding: 20px 20px 40px 20px;

	.blog_article_title{

		h1{
			padding-top: 0px;
			margin-top: 5px;
			text-align: left;
		}
	}

	.blog_article_date{
		font-size: 0.8rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.blog_article_contents{
		font-size: 1rem;
		line-height: 2;
	}

	.post_link_area{
		border-top: 1px dotted #e4e4e4;
		padding: 20px 0px;

		.next_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: left;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}

		.previous_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: right;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}
}

}
}

/*=========================
　　　　　SM部分
=========================*/
@media screen and (min-width: 769px) and (max-width: 991px) {
.blog_article_area{
	background: #fff;
	border-radius: 10px;
	padding: 50px 70px;

	.blog_article_title{

		h1{
			padding-top: 0px;
			margin-top: 5px;
			text-align: left;
		}
	}

	.blog_article_date{
		font-size: 0.8rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.blog_article_contents{
		font-size: 1rem;
		line-height: 2;
	}

	.post_link_area{
		border-top: 1px dotted #e4e4e4;
		padding: 20px 0px;

		.next_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: left;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}

		.previous_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: right;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}
}
}

}


/*=========================
　　　　　MD部分
=========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
.blog_article_area{
	background: #fff;
	border-radius: 10px;
	padding: 50px 70px;

	.blog_article_title{

		h1{
			padding-top: 0px;
			margin-top: 5px;
			text-align: left;
		}
	}

	.blog_article_date{
		font-size: 0.8rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.blog_article_contents{
		font-size: 1rem;
		line-height: 2;
	}

	.post_link_area{
		border-top: 1px dotted #e4e4e4;
		padding: 20px 0px;

		.next_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: left;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}

		.previous_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: right;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}
}

}

}


/*=========================
　　　　　LG部分
=========================*/
@media screen and (min-width: 1200px) {
.blog_article_area{
	background: #fff;
	border-radius: 10px;
	padding: 50px 70px;

	.blog_article_title{

		h1{
			padding-top: 0px;
			margin-top: 5px;
			font-size: 1.7rem;
			text-align: left;
		}
	}

	.blog_article_date{
		font-size: 0.8rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.blog_article_contents{
		font-size: 1rem;
		line-height: 2;
	}

	.post_link_area{
		border-top: 1px dotted #e4e4e4;
		padding: 20px 0px;

		.next_post_link{
			background-color: $orange;
			color: #fff;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: left;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff;
			}
		}

		.previous_post_link{
			background-color: $orange;
			color: $orange;
			border: 2px solid $orange;
			border-radius: 40px;
			display: inline-block;
			float: right;
			padding: 5px;

			a{
				padding: 20px 20px;
				color: #fff !important;
			}
		}
}

}
}
