.carriculum_content{

	img{
		transition: all 0.7s;
	}
}

/*=========================
　　　　　XS部分
=========================*/
@media screen and (max-width: 768px) {
.curriculum_step_area{
	margin-bottom: 40px;
	img{
		width: 100%;
		margin-bottom: 10px;
	}

	p{
		font-size: 1rem;
		line-height: 1.7;
	}

}

.carriculum_menu{
	color: $pink;
	background-color: #fff;

	li{
		list-style-type: none;
		padding: 20px 0px;
		cursor: pointer;
		border-radius: 10px;
		margin: 0px 0px 10px 10px;
		width: 47%;
		box-sizing: content-box;
		text-align: center;
		float: left;
		background-color: #fff;

		&:first-child{
			color: #fff;
			background-color: $pink;
		}
	}
}

.carriculum_menu_active{
		background-color: $orange;
		color: #fff;
}

.carriculum_menu_remove{
		background-color: #fff;
		color: $orange;
}


#carriculum_content_root{

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_interview{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_training{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_Job_hunting{
	display: none;

	img{
		width: 100%;
		padding: 10px;
	}
}

#carriculum_content_counseling{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

.carriculum_content{
	width: 100%;
	height: auto;/*試し*/
	background: #fff;
	padding: 30px;

	.carriculum_content_step_namber{
		display: block;
		font-size: 0.9rem;
		color: $pink;
	}

	h1{
		color: #545454;
		font-size: 1.8rem;
		margin: 0;
		padding: 10px;

	}

	p{
		width: 100%;
		margin: 20px auto;
		font-size: 1rem;
		line-height: 1.7;
	}
}

}

/*=========================
　　　　　SM部分
=========================*/
@media screen and (min-width: 769px) and (max-width: 991px) {
.curriculum_step_area{
	margin-bottom: 40px;
	img{
		width: 100%;
		margin-bottom: 10px;
	}

}

.carriculum_menu{
	color: $pink;
	background-color: #fff;

	li{
		list-style-type: none;
		padding: 20px 0px;
		cursor: pointer;
		border-radius: 10px;
		margin: 0px 0px 10px 10px;
		width: 18.6%;
		box-sizing: content-box;
		text-align: center;
		float: left;
		background-color: #fff;

		&:first-child{
			color: #fff;
			background-color: $pink;
			margin-left: 0px;
		}
	}
}

.carriculum_menu_active{
		background-color: $orange;
		color: #fff;
}

.carriculum_menu_remove{
		background-color: #fff;
		color: $orange;
}

#carriculum_content_root{

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_interview{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_training{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_Job_hunting{
	display: none;

	img{
		width: 90%;
		padding: 10px;
	}
}

#carriculum_content_counseling{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

.carriculum_content{
	width: 100%;
	height: auto;/*試し*/
	background: #fff;
	padding: 30px;

	.carriculum_content_step_namber{
		display: block;
		font-size: 0.9rem;
		color: $pink;
	}

	h1{
		color: #545454;
		font-size: 1.8rem;
		margin: 0;
		padding: 10px;

	}

	p{
		width: 90%;
		margin: 20px auto;
		font-size: 1rem;
		line-height: 1.7;
	}
}
}

/*=========================
　　　　　MD部分
=========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
.curriculum_step_area{
	margin-bottom: 40px;
	img{
		width: 100%;
		margin-bottom: 10px;
	}

}

.carriculum_menu{
	color: $pink;
	background-color: #fff;

	li{
		list-style-type: none;
		padding: 20px 0px;
		cursor: pointer;
		border-radius: 10px;
		margin: 0px 0px 10px 10px;
		width: 19%;
		box-sizing: content-box;
		text-align: center;
		float: left;
		background-color: #fff;

		&:first-child{
			color: #fff;
			background-color: $pink;
			margin-left: 0px;
		}
	}
}

.carriculum_menu_active{
		background-color: $orange;
		color: #fff;
}

.carriculum_menu_remove{
		background-color: #fff;
		color: $orange;
}

#carriculum_content_root{

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_interview{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_training{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_Job_hunting{
	display: none;

	img{
		width: 90%;
		padding: 10px;
	}
}

#carriculum_content_counseling{
	display: none;

	img{
		width: 300px;
		padding: 10px;
		display: inline-block;
	}
}

.carriculum_content{
	width: 100%;
	height: auto;/*試し*/
	background: #fff;
	padding: 30px;

	.carriculum_content_step_namber{
		display: block;
		font-size: 0.9rem;
		color: $pink;
	}

	h1{
		color: #545454;
		font-size: 1.8rem;
		margin: 0;
		padding: 10px;

	}

	p{
		width: 70%;
		margin: 20px auto;
		font-size: 1rem;
	}
}
}


/*=========================
　　　　　部分
=========================*/
@media screen and (min-width: 1200px) {

.curriculum_steps_area{
	border-bottom: 1px dotted $orange;
	margin-bottom: 40px;

	.curriculum_step_area{
		margin-bottom: 40px;
		img{
			width: 100%;
			margin-bottom: 10px;
		}

	}
}

.carriculum_menu{
	color: $pink;
	background-color: #fff;

	li{
		list-style-type: none;
		padding: 20px 0px;
		cursor: pointer;
		border-radius: 10px;
		margin: 0px 0px 10px 10px;
		width: 19.2%;
		box-sizing: content-box;
		text-align: center;
		float: left;
		background-color: #fff;

		&:first-child{
			color: #fff;
			background-color: $pink;
			margin-left: 0px;
		}
	}
}

.carriculum_menu_active{
		background-color: #fff;
		color: $pink;
}

.carriculum_menu_remove{
		background-color: #fff;
		color: $pink;
}

#carriculum_content_root{

	img{
		width: 350px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_interview{
	display: none;

	img{
		width: 350px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_training{
	display: none;

	img{
		width: 350px;
		padding: 10px;
		display: inline-block;
	}
}

#carriculum_content_Job_hunting{
	display: none;

	img{
		width: 80%;
		padding: 10px;
	}
}

#carriculum_content_counseling{
	display: none;

	img{
		width: 350px;
		padding: 10px;
		display: inline-block;
	}
}

.carriculum_content{
	width: 100%;
	height: auto;/*試し*/
	background: #fff;
	padding: 50px;
	border-radius: 10px;

	.carriculum_content_step_namber{
		display: block;
		font-size: 0.9rem;
		color: $pink;
	}

	h1{
		color: #545454;
		font-size: 1.8rem;
		margin: 0;
		padding: 10px;

	}

	p{
		width: 70%;
		margin: 20px auto;
		font-size: 1rem;
	}
}
}


