/*文字*/

/*色*/
$orange: #f19319;/*【オレンジ】header・footer部分*/
$light-orange: #EDA966;/*【薄いオレンジ】contents部分*/
$pink: #d2116f;/*【ピンク】header・footer部分*/
$light-pink: #CC62A1;/*【薄いピンク】contents部分*/
$link: #07519A;/*【紺】リンクテキスト部分*/
$font-brack: #352C2E;/*【黒】コンテンツ文字部分*/

/*装飾*/


/*画像*/

/*ボーダー*/
$bd-gray: #e4e4e4;

