!!!
%html
  %head
    <meta charset="utf-8"><!--言語設定-->
    <meta name="viewport" content="width=device-width"><!--レスポンシブ対応-->
    <meta name="discription" content="就労移行支援事業所ReRootは就職や社会復帰を目指す障害者の就労支援を行っています。2016年４月に始まった新施設なこともあり、綺麗な環境と居心地の良い空間をご用意しております。"><!--サイト説明-->
    <meta name="keywords" content="就労移行支援,ReRoot,障害者,障害,社会復帰"><!--キーワード-->
    <link rel="stylesheet" href="css/foundation.min.css"><!--foundationの読み込み-->
    <link rel="stylesheet" href="css/reset.css"><!--リセットCSS-->
    <link rel="stylesheet" href="style.css"><!--CSS-->
    <title>東京の就労移行支援事業所なら| ReRoot</title><!--タイトル-->
  %body
    %header
      <div id="header_top">
      <div class="row">
      <div class="columns small-12 medium-12 large-3">
      <div class="logo_box"><!--#ロゴ-->
      <a href=""><img src="img/reroot-web.png" alt=""></a>
      </div>
      </div>
      <div class="columns small-12 medium-12 large-9 hide-for-medium-only hide-for-small-only">
      <ul class="booking_box"><!--#お問い合わせメニュー部分（スマホ以外表示）-->
      <li><a href="">見学のお申し込み</a></li>
      <li><a href="">資料請求</a></li>
      <li><a href="">見学の申し込み</a></li>
      </ul>
      </div><!--#header-->
      <div class="menuButtonFeil hide-for-large"><!--#ハンバーガーアイコン（スマホのみ表示）-->
      <a id="menuButton" href="#">
      <span></span>
      <span></span>
      <span></span>
      </a>
      </div>
      </div>
      </div>
      <div id="header_bottom"><!--fixしないnav-->
      <ul>
      <div class="row small-collapse medium-collapse large-collapse">
      <div class="columns small-12 medium-3 large-3 nav_manu">
      <li><a href="">就労移行支援事業とは</a></li>
      </div>
      <div class="columns small-12 medium-3 large-3 nav_manu">
      <li><a href="">よくある質問</a></li>
      </div>
      <div class="columns small-12 medium-3 large-3 nav_manu">
      <li><a href="">卒業生の声</a></li>
      </div>
      <div class="columns small-12 medium-3 large-3">
      <li><a href="">説明会イベント</a></li>
      </div>
      </div>
      </ul>
      </div>
      <div id="top_photo_box"><!--アイキャッチ部分-->
      <img src="img/top_photo.jpg" alt="笑顔の女性">
      </div>
    %div#privacy_main
      %div.privacy_title
        %h1.privacy_title-name 個人情報保護方針

      %div.privacy_contents-all
        %h2.privacy_contents_title ・sample_title
        %p.privacy_contents （ア）個人情報を直接取得する場合の原則当会社が個人情報を直接的にお客様から取得する場合は、事前に取得の目的を明確に開示して収集いたします。（イ）個人情報を利用、提供する場合の原則当会社が個人情報を利用する場合は、事前に明確化した目的の範囲内でのみ利用、提供（そのための措置を講ずることを含む。）いたします。

      %div.privacy_contents-all
        %h2.privacy_contents_title ・sample_title
        %p.privacy_contents （ア）個人情報を直接取得する場合の原則当会社が個人情報を直接的にお客様から取得する場合は、事前に取得の目的を明確に開示して収集いたします。（イ）個人情報を利用、提供する場合の原則当会社が個人情報を利用する場合は、事前に明確化した目的の範囲内でのみ利用、提供（そのための措置を講ずることを含む。）いたします。
