@charset "UTF-8";
/*共通部分*/
html li {
  list-style-type: none; }
html a {
  color: #fff; }

/*------------スマホ、タブレット、共通画面------------*/
/*------------スマホ------------*/
@media screen and (max-width: 480px) {
  html {
    font-size: 12px; } }
/*------------タブレット------------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 14px; } }
/*------------PC------------*/
@media screen and (min-width: 769px) {
  html {
    font-size: 16px; } }
/*変数*/
/*文字*/
/*色*/
/*【オレンジ】header・footer部分*/
/*【薄いオレンジ】contents部分*/
/*【ピンク】header・footer部分*/
/*【薄いピンク】contents部分*/
/*【紺】リンクテキスト部分*/
/*【黒】コンテンツ文字部分*/
/*装飾*/
/*画像*/
/*パーツ*/
/*文字*/
/*色*/
/*【オレンジ】header・footer部分*/
/*【薄いオレンジ】contents部分*/
/*【ピンク】header・footer部分*/
/*【薄いピンク】contents部分*/
/*【紺】リンクテキスト部分*/
/*【黒】コンテンツ文字部分*/
/*装飾*/
/*画像*/
/*============================
	ロゴ、お問い合わせの部分
=============================*/
#header_top {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  padding: 1rem 0px;
  /*padding-left: 80px;*/
  /*border-bottom: 1px solid #545454;*/ }
  #header_top .logo_box {
    display: inline-block;
    width: 7rem;
    margin: 0px 0px; }
  #header_top .booking_box {
    float: right;
    width: auto; }
    #header_top .booking_box li {
      display: inline-block;
      margin: 0px 0px 0px 10px;
      background: #d2116f; }
      #header_top .booking_box li a {
        display: block;
        padding: 20px 20px; }

/*============================
		メニューの部分
=============================*/
#header_bottom {
  width: 100%;
  margin-top: 7rem;
  border-bottom: 3px solid #f19319;
  border-top: 3px solid #f19319;
  text-align: center;
  font-size: 0.9rem; }
  #header_bottom .nav_manu {
    display: inline-block;
    border-right: 2px solid #f19319; }
  #header_bottom ul li {
    display: inline-block;
    border-right: 2px solid #f19319; }
    #header_bottom ul li:last-child {
      border-right: none; }
    #header_bottom ul li a {
      color: #f19319;
      padding: 20px 0px;
      display: block; }

/*============================
		とりあえずの部分
=============================*/
.btn {
  padding: 10px;
  background-color: red;
  border: 1px solid red; }

.btn2 {
  padding: 10px;
  background-color: blue;
  border: 1px solid blue; }

.btn3 {
  padding: 10px;
  background-color: gold;
  border: 1px solid gold; }

/*============================
　アイキャッチの部分(とりあえず)
=============================*/
#top_photo_box {
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 0px; }
  #top_photo_box img {
    width: 100%; }

/*============================
ハンバーガーメニュー部分（とりあえず）
=============================*/
.menuButtonFeild {
  width: 60px;
  height: 100%;
  background: #f19319; }

#menuButton {
  margin: 10px 0px;
  display: block;
  width: 42px;
  height: 42px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3; }

#menuButton span {
  display: block;
  background: #f19319;
  width: 24px;
  height: 2px;
  position: absolute;
  left: 9px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s; }

#menuButton span:first-child {
  top: 12px; }

#menuButton span:nth-child(2) {
  margin-top: -1px;
  top: 50%; }

#menuButton span:last-child {
  bottom: 12px; }

#menuButton.active span:first-child {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

#menuButton.active span:nth-child(2) {
  opacity: 0; }

#menuButton.active span:last-child {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

/*------------スマホ------------*/
/*------------タブレット------------*/
/*------------PC------------*/
/*============================
	footer1段目の部分
=============================*/
footer {
  background: #f19319;
  height: auto;
  padding: 30px 0px;
  /*============================
  	footer2段目の部分
  =============================*/
  /*============================
  	footer2段目の部分
  =============================*/ }
  footer #footer_top {
    width: 100%; }
    footer #footer_top .footer_top_logo_box {
      width: 150px;
      float: left; }
      footer #footer_top .footer_top_logo_box img {
        width: 200px; }
    footer #footer_top .footer_top_info_box {
      width: 70%;
      float: right;
      font-size: 13px; }
      footer #footer_top .footer_top_info_box ul {
        float: right;
        border: 2px solid #fff;
        margin-right: 30px; }
        footer #footer_top .footer_top_info_box ul li {
          display: inline-block;
          padding: 10px;
          margin-left: 20px; }
          footer #footer_top .footer_top_info_box ul li:last-child {
            margin-right: 30px; }
          footer #footer_top .footer_top_info_box ul li a {
            color: #fff;
            font-weight: bold; }
  footer #footer_middle {
    clear: both;
    text-align: center; }
    footer #footer_middle .footer_nav_box {
      margin: 70px 20px 20px 0px;
      display: inline-block;
      width: auto;
      text-align: left; }
      footer #footer_middle .footer_nav_box ul li a {
        color: #fff; }
  footer #footer_bottom {
    width: auto;
    padding: 0px 30px;
    text-align: right; }
    footer #footer_bottom .booking_box {
      display: inline-block;
      text-align: right; }
      footer #footer_bottom .booking_box li {
        margin: 30px 10px;
        background: #DF589A;
        border-radius: 5px; }
        footer #footer_bottom .booking_box li a {
          display: block;
          padding: 20px 20px; }

/*extend
@import "extend";
*/
/*mixin
@import "mixin";
*/

/*# sourceMappingURL=style.css.map */
